{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}-Home{% endblock %}

{% block body %}
    {% include 'home/caroussel.html.twig' %}
    <!--Main layout-->
    <main>
        <div class="container">
            <section class="mt-5 wow fadeIn">
                <h2 class="text-center mb-5">Listes des figures</h2>
                <div class="row">
                    <!--Grid column-->
                    <article class="col-lg-4 col-md-12 mb-4">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(72).jpg" class="card-img-top"
                                     alt="">
                                <a href="#">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Card title</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                    card's content.</p>
                                <a href="{{ path('single') }}" class="btn btn-indigo">Voir la figure</a>
                                <a href="{{ path('edit') }}" class="btn btn-info"><i class="fa fa-pen"></i></a>
                                <a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>
                        <!--/.Card-->
                    </article>
                    <!--Grid column-->
                    <!--Grid column-->
                    <article class="col-lg-4 col-md-12 mb-4">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(72).jpg" class="card-img-top"
                                     alt="">
                                <a href="#">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Card title</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                    card's content.</p>
                                <a href="#" class="btn btn-indigo">Voir la figure</a>
                            </div>
                        </div>
                        <!--/.Card-->
                    </article>
                    <!--Grid column-->
                    <!--Grid column-->
                    <article class="col-lg-4 col-md-12 mb-4">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(72).jpg" class="card-img-top"
                                     alt="">
                                <a href="#">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Card title</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                    card's content.</p>
                                <a href="#" class="btn btn-indigo">Voir la figure</a>
                            </div>
                        </div>
                        <!--/.Card-->
                    </article>
                    <!--Grid column-->
                    <!--Grid column-->
                    <article class="col-lg-4 col-md-12 mb-4">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(72).jpg" class="card-img-top"
                                     alt="">
                                <a href="#">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Card title</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                    card's content.</p>
                                <a href="#" class="btn btn-indigo">Voir la figure</a>
                            </div>
                        </div>
                        <!--/.Card-->
                    </article>
                    <!--Grid column-->
                </div>
                <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                    <ul class="pagination pg-blue">
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link">1</a></li>
                        <li class="page-item active">
                            <a class="page-link">2 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link">3</a></li>
                        <li class="page-item">
                            <a class="page-link">Next</a>
                        </li>
                    </ul>
                </nav>
            </section>
        </div>
    </main>
    <!--Main layout-->
{% endblock %}
